body{
 background-color: moccasin

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width:auto;
}
center{
  color: blue;
  font-size: 10px;
}
form{
  background-color: brown;
}
.html{
  background-color: green;
}
.html:hover{
  background-color: yellow;

}
